<div class="container">
    <div class="row mrg-btm-30">
        <div class="col-md-3">
            <div class="widget widget-about">
                <img class="img-responsive" src="images/logo/logo-1.png" alt="">
                <p class="mrg-top-30">Lorem Ipsum is simply dummy text of the printing and typesettingindustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div><!-- /widget-about -->
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="widget widget-link">
                <h3 class="widget-tittle">Useful Link</h3>
                <div class="row mrg-btm-30">
                    <div class="col-md-6">
                        <ul class="link">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="link">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="widget widget-news">
                <h3 class="widget-tittle">News</h3>
                <div class="news-item">
                    <div class="news-media">
                        <img class="img-responsive" src="images/news-1.jpg" alt="">
                    </div>
                    <div class="news-info">
                        <a href="#" class="news-tittle">Feel the Inovation</a>
                        <span class="news-meta">By <a href="#" class="author">Hendry Chew</a> 3 April</span>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-media">
                        <img class="img-responsive" src="images/news-2.jpg" alt="">
                    </div>
                    <div class="news-info">
                        <a href="#" class="news-tittle">Feel the Inovation</a>
                        <span class="news-meta">By <a href="#" class="author">Hendry Chew</a> 3 April</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <span class="copyright"><img class="pdd-right-10" src="images/logo/logo-3.png" alt="eastern"> Copyright © 2016 Eastern. <a href="https://wrapbootstrap.com/user/Nate93">Theme_Nate</a></span>
    </div>
</div>