<!-- Hero Start -->
<section id="hero">
    <div class="tp-banner-container">
        <div class="tp-banner rev-banner-fullscreen">
            <ul>
                <!-- Layer-1 -->
                <li data-index="rs-353" data-transition="crossfade" data-slotamount="default" data-masterspeed="2000">
                    <img src="images/bg-58.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                         id="slide-1-layer-1"
                         data-x="['right','right','center','center']" data-hoffset="['-100','-100','0','0']"
                         data-y="['center','center','bottom','bottom']" data-voffset="['40','-40','0','0']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_in="x:50;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;s:1000"
                         data-transform_out="x:50;s:1000;e:Power2.easeInOut;s:1000;opacity:0;e:Power2.easeInOut;"
                         data-transform_idle="o:1;"
                         data-start="500"
                         data-responsive_offset="on"
                         style="z-index: 7;">
                        <img src="images/img-47.png" alt="" data-ww="['650','650','450','250']" data-hh="['700','700','450','250']" data-no-retina>
                    </div>
                    <div class="tp-caption tp-resizeme secondary-font text-dark"
                         id="slide-1-layer-2"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','0','0']"
                         data-y="['center','center','top','top']" data-voffset="['-90','-90','150','150']"
                         data-fontsize="['50','50','30','30']"
                         data-lineheight="['40','40','40','40']"
                         data-width="['400','356','334','334']"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-start="1200"
                         data-responsive_offset="on"
                         style="z-index: 8; letter-spacing: 1px;">
                        <span class="font-secondary text-white ls-0-5 font-weight-light">Red Beat Solo 2</span>
                    </div>
                    <div class="tp-caption"
                         id="slide-1-layer-3"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','0','0']"
                         data-y="['center','center','top','top']" data-voffset="['-5','-5','210','210']"
                         data-fontsize="['15','15','15','15']"
                         data-lineheight="['27','27','27','27']"
                         data-width="['450','356','350','350']"
                         data-height="['none','none','76','68']"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-responsive_offset="on"
                         data-start="1500"
                         style="z-index: 8;">
                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                    </div>
                    <div class="tp-caption"
                         id="slide-1-layer-4"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','-140','-140']"
                         data-y="['center','center','top','top']" data-voffset="['70','70',300','300']"
                         data-whitespace="nowrap"
                         data-fontsize="['24','24','20','20']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-start="1800"
                         data-responsive_offset="on">
                        <span class="text-white font-secondary">$ 89.99</span>
                    </div>
                    <div class="tp-caption"
                         id="slide-1-layer-5"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','-100','-100']"
                         data-y="['center','center','top','top']" data-voffset="['140','140','390','370']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-start="2000"
                         data-responsive_offset="on">
                        <button class="btn btn-md btn-dark border-radius-4">Add to Cart</button>
                    </div>
                </li>

                <!-- Layer-2 -->
                <li data-index="rs-354" data-transition="crossfade" data-slotamount="default" data-masterspeed="2000">
                    <img src="images/bg-33.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                         id="slide-2-layer-1"
                         data-x="['right','right','center','center']" data-hoffset="['-100','-100','0','0']"
                         data-y="['center','center','bottom','bottom']" data-voffset="['40','-40','0','0']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_in="x:50;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;s:1000"
                         data-transform_out="x:50;s:1000;e:Power2.easeInOut;s:1000;opacity:0;e:Power2.easeInOut;"
                         data-transform_idle="o:1;"
                         data-start="500"
                         data-responsive_offset="on"
                         style="z-index: 7;">
                        <img src="images/img-22.png" alt="" data-ww="['650','650','450','250']" data-hh="['700','700','450','250']" data-no-retina>
                    </div>
                    <div class="tp-caption tp-resizeme secondary-font text-dark"
                         id="slide-2-layer-2"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','0','0']"
                         data-y="['center','center','top','top']" data-voffset="['-90','-90','150','150']"
                         data-fontsize="['50','50','30','30']"
                         data-lineheight="['40','40','40','40']"
                         data-width="['400','356','334','334']"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-start="1200"
                         data-responsive_offset="on"
                         style="z-index: 8; letter-spacing: 1px;">
                        <span class="font-secondary text-white ls-0-5 font-weight-light">Stylish Backpack</span>
                    </div>
                    <div class="tp-caption"
                         id="slide-2-layer-3"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','0','0']"
                         data-y="['center','center','top','top']" data-voffset="['-5','-5','210','210']"
                         data-fontsize="['15','15','15','15']"
                         data-lineheight="['27','27','27','27']"
                         data-width="['450','356','350','350']"
                         data-height="['none','none','76','68']"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-responsive_offset="on"
                         data-start="1500"
                         style="z-index: 8;">
                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                    </div>
                    <div class="tp-caption"
                         id="slide-2-layer-4"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','-140','-140']"
                         data-y="['center','center','top','top']" data-voffset="['70','70',300','300']"
                         data-whitespace="nowrap"
                         data-fontsize="['24','24','20','20']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-start="1800"
                         data-responsive_offset="on">
                        <span class="text-white font-secondary">$ 89.99</span>
                    </div>
                    <div class="tp-caption"
                         id="slide-2-layer-5"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','-100','-100']"
                         data-y="['center','center','top','top']" data-voffset="['140','140','390','370']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-start="2000"
                         data-responsive_offset="on">
                        <button class="btn btn-md btn-dark border-radius-4">Add to Cart</button>
                    </div>
                </li>

                <!-- Layer-3 -->
                <li data-index="rs-355" data-transition="crossfade" data-slotamount="default" data-masterspeed="2000">
                    <img src="images/bg-59.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                         id="slide-3-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['680','500','177','150']"
                         data-y="['top','top','top','bottom']" data-voffset="['200','207','482','150']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_in="y:top;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="y:top;opacity:0;s:600;e:Back.easeInOut;"
                         data-transform_idle="o:1;"
                         data-start="1500"
                         data-responsive_offset="on"
                         style="z-index: 7;">
                        <img src="images/img-48.png" alt="" data-ww="['200px','200px','100px','100px']" data-hh="['200px','200px','100px','100px']" data-no-retina>
                    </div>
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                         id="slide-3-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['593','453','50','0']"
                         data-y="['top','top','bottom','bottom']" data-voffset="['513','503','0','0']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_in="y:top;opacity:0;s:700;e:Back.easeInOut;"
                         data-transform_out="y:top;opacity:0;s:800;e:Back.easeInOut;"
                         data-transform_idle="o:1;"
                         data-start="1800"
                         data-responsive_offset="on"
                         style="z-index: 7;">
                        <img src="images/img-49.png" alt="" data-ww="['280px','280px','200px','150px']" data-hh="['280px','280px','200px','150px']" data-no-retina>
                    </div>
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                         id="slide-3-layer-3"
                         data-x="['right','right','right','right']" data-hoffset="['-100','-100','100','50']"
                         data-y="['center','center','bottom','bottom']" data-voffset="['40','-40','-100','-80']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_in="y:top;opacity:0;s:900;e:Back.easeInOut;"
                         data-transform_out="y:top;opacity:0;s:1000;e:Back.easeInOut;"
                         data-transform_idle="o:1;"
                         data-start="2100"
                         data-responsive_offset="on"
                         style="z-index: 7;">
                        <img src="images/img-51.png" alt="" data-ww="['350px','350px','240px','180px']" data-hh="['350px','350px','240px','180px']" data-no-retina>
                    </div>
                    <div class="tp-caption tp-resizeme secondary-font text-dark"
                         id="slide-3-layer-4"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','-10','-10']"
                         data-y="['center','center','top','top']" data-voffset="['-90','-90','150','150']"
                         data-fontsize="['50','50','30','30']"
                         data-lineheight="['40','40','40','40']"
                         data-width="['400','356','334','334']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-start="2500"
                         data-responsive_offset="on"
                         style="z-index: 8; letter-spacing: 1px;">
                        <span class="font-secondary text-white ls-0-5 font-weight-light">Apple Watch</span>
                    </div>
                    <div class="tp-caption"
                         id="slide-3-layer-5"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','0','0']"
                         data-y="['center','center','top','top']" data-voffset="['-5','-5','210','210']"
                         data-fontsize="['15','15','15','15']"
                         data-lineheight="['27','27','27','27']"
                         data-width="['450','356','350','350']"
                         data-height="['none','none','76','68']"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-responsive_offset="on"
                         data-start="2800"
                         style="z-index: 8;">
                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                    </div>
                    <div class="tp-caption"
                         id="slide-3-layer-6"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','-140','-140']"
                         data-y="['center','center','top','top']" data-voffset="['70','70',300','300']"
                         data-whitespace="nowrap"
                         data-fontsize="['24','24','20','20']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-start="3100"
                         data-responsive_offset="on">
                        <span class="text-white font-secondary">$ 348.99</span>
                    </div>
                    <div class="tp-caption"
                         id="slide-3-layer-7"
                         data-x="['left','left','center','center']" data-hoffset="['-50','50','-100','-100']"
                         data-y="['center','center','top','top']" data-voffset="['140','140','360','360']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-start="3400"
                         data-responsive_offset="on">
                        <button class="btn btn-md btn-dark border-radius-4">Add to Cart</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Hero End -->


<!-- Offer Start -->
<section class="section-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="product-banner pdd-horizon-30 pdd-vertical-40" style="background-image:url(images/bg-34.jpg)">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="mrg-top-120">
                                <h2 class="text-white">Your Hip Hop Style</h2>
                                <p class="mrg-btm-20 text-white">Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                <a class="btn btn-md btn-theme border-radius-4">Check it out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-banner pdd-horizon-30 pdd-vertical-40" style="background-image:url(images/bg-57.jpg)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mrg-top-150">
                                <h3 class="mrg-btm-15 text-white">Apple Watch</h3>
                                <span class="font-size-20 text-white display-block"><b>$ 98.80</b></span>
                                <br>
                                <a class="btn btn-md btn-info border-radius-4">Check it out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="shop-product">
                    <a href="" class="product-name">Bluetooth Headphones</a>
                    <p>Accesories</p>
                    <img class="product-img img-responsive" src="images/img-24.jpg" alt="">
                    <span class="price">$ 199.00</span>
                    <div class="add-to-cart">
                        <a class="btn icon-btn-md btn-white hover-dribble icon-btn-round mrg-right-5 lh-1" href="javascript:void(0);"><i class="ei ei-heart"></i></a>
                        <a class="btn icon-btn-md btn-theme icon-btn-round lh-1"><i class="ei ei-shopping-basket"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="product-banner pdd-horizon-30 pdd-vertical-40 text-white" style="background-image:url(images/bg-35.jpg)">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-7">
                            <div class="mrg-top-100">
                                <h1 class="font-size-55"><b>30%</b></h1>
                                <h3 class="no-mrg-top">Off for Winter Sales</h3>
                                <p class="mrg-btm-20">Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                <a class="btn btn-sm btn-white">Check it out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Offer End -->


<!-- Product Start -->
<section class="section-1">
    <div class="container">
        <div class="text-center mrg-btm-50">
            <h2>New Arrivals</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="shop-product">
                    <a href="" class="product-name">Stylish Backpack</a>
                    <p>Bag Wears</p>
                    <img class="product-img img-responsive" src="images/img-25.jpg" alt="">
                    <span class="price">$ 199.00</span>
                    <div class="add-to-cart">
                        <a class="btn icon-btn-md btn-white hover-dribble icon-btn-round mrg-right-5 lh-1" href="javascript:void(0);"><i class="ei ei-heart"></i></a>
                        <a class="btn icon-btn-md btn-theme icon-btn-round lh-1"><i class="ei ei-shopping-basket"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-product">
                    <a href="" class="product-name">Adidas Sneaker</a>
                    <p>Sport Wears</p>
                    <img class="product-img img-responsive" src="images/img-27.jpg" alt="">
                    <span class="price">$ 199.00</span>
                    <div class="add-to-cart">
                        <a class="btn icon-btn-md btn-white hover-dribble icon-btn-round mrg-right-5 lh-1" href="javascript:void(0);"><i class="ei ei-heart"></i></a>
                        <a class="btn icon-btn-md btn-theme icon-btn-round lh-1"><i class="ei ei-shopping-basket"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-product">
                    <a href="" class="product-name">Yellow Backpack</a>
                    <p>Bag Wears</p>
                    <img class="product-img img-responsive" src="images/img-26.jpg" alt="">
                    <span class="price">$ 199.00</span>
                    <div class="add-to-cart">
                        <a class="btn icon-btn-md btn-white hover-dribble icon-btn-round mrg-right-5 lh-1" href="javascript:void(0);"><i class="ei ei-heart"></i></a>
                        <a class="btn icon-btn-md btn-theme icon-btn-round lh-1"><i class="ei ei-shopping-basket"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product End -->


<!-- Promotion Start -->
<section class="section-3">
    <div class="content-block-2">
        <div class="image-container col-md-6">
            <div class="background-holder" style="background-image: url(images/bg-36.jpg)"></div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="text-content">
                        <h2>New Summer Skirt</h2>
                        <p class="mrg-top-30 width-80">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <span class="font-size-20 mrg-top-20 display-block"><b>$ 98.80</b></span>
                        <a class="btn btn-md btn-theme mrg-top-30">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /content-block-2 -->
</section>
<!-- Promotion End -->


<!-- Popular Product Start -->
<section class="section-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="text-center">
                    <h2 class="heading-1 text-center">Popular Item</h2>
                    <p class="width-30 mrg-horizon-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                </div>
                <div class="relative">
                    <div class="swiper-4 swiper-container static mrg-top-50">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="shop-product">
                                    <a href="" class="product-name">Texture Sweater</a>
                                    <p>Bag Wears</p>
                                    <img class="product-img img-responsive" src="images/img-28.jpg" alt="">
                                    <span class="price">$ 199.00</span>
                                    <div class="add-to-cart">
                                        <a class="btn icon-btn-md btn-white hover-dribble icon-btn-round mrg-right-5 lh-1" href="javascript:void(0);"><i class="ei ei-heart"></i></a>
                                        <a class="btn icon-btn-md btn-theme icon-btn-round lh-1"><i class="ei ei-shopping-basket"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="shop-product">
                                    <a href="" class="product-name">Blue Sneaker</a>
                                    <p>Bag Wears</p>
                                    <img class="product-img img-responsive" src="images/img-29.jpg" alt="">
                                    <span class="price">$ 199.00</span>
                                    <div class="add-to-cart">
                                        <a class="btn icon-btn-md btn-white hover-dribble icon-btn-round mrg-right-5 lh-1" href="javascript:void(0);"><i class="ei ei-heart"></i></a>
                                        <a class="btn icon-btn-md btn-theme icon-btn-round lh-1"><i class="ei ei-shopping-basket"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="shop-product">
                                    <a href="" class="product-name">Sea Green Handbag</a>
                                    <p>Bag Wears</p>
                                    <img class="product-img img-responsive" src="images/img-30.jpg" alt="">
                                    <span class="price">$ 199.00</span>
                                    <div class="add-to-cart">
                                        <a class="btn icon-btn-md btn-white hover-dribble icon-btn-round mrg-right-5 lh-1" href="javascript:void(0);"><i class="ei ei-heart"></i></a>
                                        <a class="btn icon-btn-md btn-theme icon-btn-round lh-1"><i class="ei ei-shopping-basket"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="shop-product">
                                    <a href="" class="product-name">Stylish Backpack</a>
                                    <p>Bag Wears</p>
                                    <img class="product-img img-responsive" src="images/img-25.jpg" alt="">
                                    <span class="price">$ 199.00</span>
                                    <div class="add-to-cart">
                                        <a class="btn icon-btn-md btn-white hover-dribble icon-btn-round mrg-right-5 lh-1" href="javascript:void(0);"><i class="ei ei-heart"></i></a>
                                        <a class="btn icon-btn-md btn-theme icon-btn-round lh-1"><i class="ei ei-shopping-basket"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="shop-product">
                                    <a href="" class="product-name">Yellow Backpack</a>
                                    <p>Bag Wears</p>
                                    <img class="product-img img-responsive" src="images/img-26.jpg" alt="">
                                    <span class="price">$ 199.00</span>
                                    <div class="add-to-cart">
                                        <a class="btn icon-btn-md btn-white hover-dribble icon-btn-round mrg-right-5 lh-1" href="javascript:void(0);"><i class="ei ei-heart"></i></a>
                                        <a class="btn icon-btn-md btn-theme icon-btn-round lh-1"><i class="ei ei-shopping-basket"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-navigation navigation-2 out-of-box">
                            <div class="swiper-button-next-4 fs-nav-next"><i class="ei ei-right-arrow"></i></div>
                            <div class="swiper-button-prev-4 fs-nav-prev"><i class="ei ei-left-arrow"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular Product End -->


<!-- About Start -->
<section class="section-1">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="heading-1">About Shop</h2>
                <p class="width-80">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
            </div>
            <div class="col-md-5">
                <div class="card padding-30">
                    <h2 class="mrg-btm-20">Subcribe Us</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable.</p>
                    <div class="row mrg-vertical-30">
                        <div class="col-md-12">
                            <div class="icon-input">
                                <input type="email" class="form-control width-90" placeholder="Your mail here">
                                <i class="ei ei-email"></i>
                                <a href="" class="btn btn-theme btn-md inline-submit" >Subcribe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border top mrg-vertical-50"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="features-block-1">
                    <i class="ei ei-customer-service"></i>
                    <h4 class="features-tittle">24/7 Support</h4>
                    <p class="width-80">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-block-1">
                    <i class="ei ei-truck"></i>
                    <h4 class="features-tittle">Free Shiping</h4>
                    <p class="width-80">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-block-1">
                    <i class="ei ei-gift"></i>
                    <h4 class="features-tittle">Member Gift</h4>
                    <p class="width-80">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About End  -->